--index-url https://pypi.netflix.net/simple
--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple/

randomname
training_toolkit[torch]
nflx-manta
tqdm
vllm @ https://github.com/vllm-project/vllm/releases/download/v0.10.1/vllm-0.10.1+cu118-cp38-abi3-manylinux1_x86_64.whl
torch  # we recommend specifying the TF / Pytorch versions your code requires.
datasets
