--index-url https://pypi.netflix.net/simple
--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple/

randomname
training_toolkit[torch]
nflx-manta
tqdm
# Note: vllm 0.9.0 + cu118 does not work: https://github.com/vllm-project/vllm/issues/18746
# vllm 
# torch==2.6.0+cu126
vllm @ https://github.com/vllm-project/vllm/releases/download/v0.8.5.post1/vllm-0.8.5.post1+cu118-cp38-abi3-manylinux1_x86_64.whl
# torch  # we recommend specifying the TF / Pytorch versions your code requires.
transformers
sentence-transformers
datasets
# FlashInfer
# flashinfer-python
# --extra-index-url https://flashinfer.ai/whl/cu124/torch2.6/